ul.primary li a:hover {
  background-color:#F2F0F0 !important;
  border-color:#DDDDDD #DDDDDD #EEEEEE !important;
}

ul.primary {
  border-bottom:3px solid #DDDDDD !important;
}

ul.primary li.active a {
border-bottom-width:3px !important;
}

ul.primary {
  padding: 0.5em 0 !important;
}

ul.primary li {
  padding: 0.5em 0 !important;
}

ul.primary li a {
  background:#F6F5F5 none repeat scroll 0 0 !important;
  border-color:#DDDDDD !important;
  /* color:#7BA857 !important; */
  padding: 0.5em 1em !important;
}

.contentdate {
	background: #FFFFFF url(../images/date.gif) !important;
	width: 45px !important;
	height: 50px !important;
	/* margin: -15px 5px 5px 5px !important; */
	margin: -7px 5px 5px 5px !important;
	padding: 0px 0px !important;
	float: left !important;
}

#main h2.withcontentdate {
	/* padding-left: 50px !important; */
	padding-bottom: 10px !important;
}

.contentdate h3 {
	color: #FFFFFF !important;
	font-size: 10px !important;
	font-weight: normal !important;
	padding: 1px 0px 0px 10px !important;
	margin: 0px !important;
	text-transform: uppercase !important;
}

.contentdate h4 {
	font-family: Georgia, Times New Roman, Helvetica, Sans-Serif !important;
	letter-spacing: -2px !important;
	color: #666666 !important;
	font-size: 30px !important;
	line-height: 31px !important;
	font-weight: bold !important;
	padding: 0px 0px 0px 0px !important;
	margin: 0px !important;
	text-align: center !important;
}
.taxonomy {
	background: url(../images/category.gif) no-repeat left center !important;
	padding-left: 20px !important;
	//float:left !important;
	font-size: 95% !important;
	color: #999999 !important;
} 

#header h1#logo-text a {
	z-index: 1 !important;
}

#header p#intro {
	z-index: 1 !important;
	width: auto !important;
	left:210px !important;
}

#logo-text img {
	background: #FAFAFA !important;
	border: 1px solid #DCDCDC !important;
	margin-bottom: -30px !important;
	padding: 8px !important;
}

.featured-post h2 {
font-size: 1.3em !important;
border-bottom:1px solid #EBEBEB !important;
margin:10px 15px 0 12px !important;
font-weight: bold !important;
padding:0 !important;
}

.featured-post h2 a, .featured-post h2 a:visited {
border:medium none !important;
color:#7BA857 !important;
margin: 0 !important;
}

.featured-post h2 {
margin: 0 !important;
}

.featured-post .view-data-node-created {
font-size: 80% !important;
font-weight: bold !important;
a_margin:0 15px 0 12px !important;
}

.featured-post .view-data-node-body img {
max-width: 180px !important;
height: auto !important;
}

.content img {
max-width: 400px !important;
height: auto !important;
}

/* indeciso
.featured-post p, .featured-post dl {
padding:0px 0px;
}
*/

.calendar-calendar div.date-nav {
background-color: transparent !important;
border-color: transparent !important;
color:#777777 !important;
padding:0 !important;
margin: 0 !important;
width:auto !important;
}

.date-heading h3 {
margin: 0 !important;
padding: 0 !important;
}

.date-heading div {
margin: 0 !important;
padding: 2px !important;
}



.calendar-calendar thead th.days {
border-bottom:3px solid #CCCCCC;
padding-right:0.4em;
text-align:center;
}
.calendar-calendar th.days {
background:#EFFAE6 none repeat scroll 0 0;
border-color:#DFF4D5 #D3EFC3 #A7DF8A;
color:#7BA857;
padding:0.4em 0.4em;
}

.calendar-calendar tr.odd td.today, .calendar-calendar tr.even td.today {
background-color:#F6F5F5;
}

.calendar-calendar tr.odd, .calendar-calendar tr.even {
background:transparent url(../images/dots.gif) repeat-x scroll left bottom !important;
border-bottom: 0px;
padding: 1px;
}

.calendar-calendar tr td {
padding: 0.3em 0.5em 0.3em 0.3em;
margin: 1px;
}

table .mini-day-on a {
font-weight: bold !important;
text-decoration: none !important;
}

.featured-post h4 {
border-bottom:0px !important;
margin:0 15px 0 2px !important;
padding:0 !important;
}

.sidemenu ul {
margin-top: 3px !important;
}

.sidemenu .item-list ul li {
background:transparent url(../images/dots.gif) repeat-x scroll left bottom !important;
list-style-image:none !important;
list-style-position:outside !important;
list-style-type:none !important;
margin:0 !important;
padding:7px 5px !important;
}

.sidemenu .item-list ul {
border-top:2px solid #EBEBEB !important;
margin:10px 8px 8px !important;
padding:0 !important;
text-align:left !important;
}

/* header quick search */
#header form#search-theme-form {
	position: absolute !important;
	top: 10px !important; right: 0 !important;
	padding: 0 !important; margin: 0 !important;
	border: none !important;
	width: 270px !important; height: 33px !important;
	background: #F5F4F3 url(../images/header-search.gif) no-repeat !important;	
	z-index: 999999 !important;
}
#header form#search-theme-form p {
	margin: 0 !important; padding: 0 !important;		
}
#header form#search-theme-form input {
	border: none !important;
	background: transparent !important;
	color: #bababa !important;
	float: left !important;
	margin: 0 !important; padding: 5px !important;
}
#header form#search-theme-form .tbox {
	margin: 6px 0 0 5px !important; 
	width: 216px !important;	
	display: inline !important;		
}
#header #search form#search-theme-form .btn{
	width: 25px !important; height: 25px !important;		
}
#header form#search-theme-form label {
	display: none !important;
}

.share_link_block {
	margin-top: 1em !important;
}


img {
   background: transparent !important;
   border: 0 !important;
   padding: 0 !important;
}

#main .content img, #logo-text img {
   background: #FAFAFA !important;
   border: 1px solid #DCDCDC !important;
   padding: 8px !important;
}

#main .content .icon img, #main .content img.icon, #main img.smiley-class {
   background: transparent !important;
   border: 0 !important;
   padding: 0 !important;
}

.content a {
   font-weight: bold !important;
}

#header p {
  padding: 0 !important; margin: 0 !important;
}

#main h2 {
  font-size: 2.8em !important;
  letter-spacing: -1.5px !important;	
}

.block-elysia_facilities div, .block-tagadelic div {
  margin:10px 8px 8px !important;
}

ul.links.inline li:first-child {
  border-left: 0px solid #666666 !important;
  padding-left: 0.5em !important;
}
ul.links.inline li {
  border-left: 1px solid #666666 !important;
  padding-left: 1em !important;
}

div#trackbacks {
padding:10px 15px !important;
}

div#trackbacks .title {
	font-size: 120% !important;
}

div#trackbacks .author em {
	font-style:italic !important;
}

a.glossary-term {
  color:inherit !important;
  font-weight: inherit !important;
}

.node blockquote {
	font-size: 14px !important;
	padding-left: 50px !important;
}

#main .node .content {
	font-size: 12px !important;
}

#main .node .content #trackbacks {
	font-size: 11px !important;
}

.feedurl a {
  background-image: url(/misc/feed.png) !important;
  background-repeat: no-repeat !important;
  width: 20px !important;
  height: 0 !important;
  display:block !important;
  padding: 20px 0 0 0 !important;
  overflow: hidden !important; 
}

.feedurl {
display:inline !important;
height:20px !important;
left:470px !important;
overflow:hidden !important;
padding-left:10px !important;
position:absolute !important;
width:20px !important;
}

.withfeedurl {
	display: inline !important;
	padding-left: 0px !important;
}

.view-data-feedapi-link {
	float: left !important;
	border: 1px solid #DCDCDC !important;
	margin:0 5px 5px 0 !important;
  padding: 3px !important;
}

#header #header-image {
	z-index: 0 !important;
}

#header #nav ul li.current {
	background: transparent url(../images/left-tab.gif) no-repeat;
}
#header #nav ul li.current a {	
	color: #444;
	background: transparent url(../images/right-tab.gif) no-repeat right top;
}
